

<nav class="navbar navbar-collapse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Itemise It</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Option1</a></li>
                <li><a href="#">Option2</a></li>
            </ul>
        </div>
        <div class="nav navbar-right">
            
        </div>
    </div>
</nav>